{{> header}}

<span style="margin-left:220px;font-size:medium">Total Expenses: <p id="count" style="margin-top: 100px;display:inline-block;color:red"></span>
<div>
    <span style="margin-left:220px;font-size:medium" >Total Incomes: <p id="countIncome" style="margin-top: 20px;display:inline-block;color:green"></span>
</div>
<div>
    <span style="margin-left:220px;font-size:medium" >Difference: <p id="countDifference" style="margin-top: 20px;display:inline-block;"></span>
</div>
<div class="container">
    {{#if isLoggedIn}}
    <div class="expenses" style="margin-top: 100px;display:inline-flex">
        {{#if expenses}}
        {{#each expenses}}
        
        <div class="form-group" >
            <li style="margin-left: 10px;">
            <div style="margin-left:5px;color:red">Expense</div>
            <form method="POST" action="#/DeleteExpense/{{this.Id}}">                               
                <input  type="text" class="form-control" value="{{this.Category}}" name="Category" readonly>    
                <input  type="text" class="form-control amounts" value="{{this.Amount}} " name="Amount" readonly> 
                <input  type="text" class="form-control" value="{{this.Remarks}}" name="Remarks" readonly>
                <input type="text" style="display: none;" value="{{this.Id}}" name="Id" hidden>  
                <div class="col-md-12 text-center">
                    <div>
                        <a style="margin-top:10px;float:left" href="#/UpdateExpense/{{this.Id}}" class="btn btn-info" value="Update">Update</a>
                    </div>
                    <div >
                        <button style="margin:10px 0px 0px 5px;float:left" class="btn btn-danger" value="Delete">Delete</button>
                    </div>
                    
                </div>          
                </form>
            </li>
        </div>
        
        {{/each}}
        {{else}}

        <h3>No expenses for today .... :(</h3>
        {{/if}}
        
</div>
<div class="expenses" style="margin-top: 100px;display:inline-flex">
        {{#if incomes}}
        
        {{#each incomes}}
        
        <div class="form-group" >          
            <li style="margin-left: 10px;">
            <div style="margin-left:5px;color:green">Income</div>
            <form method="POST" action="#/DeleteIncome/{{this.Id}}">
                                               
                <input  type="text" class="form-control" value="{{this.Category}}" name="Category" readonly>    
                <input  type="text" class="form-control amountsIncome" value="{{this.Amount}} " name="Amount" readonly> 
                <input  type="text" class="form-control" value="{{this.Remarks}}" name="Remarks" readonly>
                <input type="text" style="display: none;" value="{{this.Id}}" name="Id" hidden>  
                <div class="col-md-12 text-center">
                    <div>
                        <a style="margin-top:10px;float:left" href="#/UpdateIncome/{{this.Id}}" class="btn btn-info" value="Update">Update</a>
                    </div>
                    <div >
                        <button style="margin:10px 0px 0px 5px;float:left" class="btn btn-danger" value="Delete">Delete</button>
                    </div>
                    
                </div>          
                </form>
            </li>
        </div>
        
        {{/each}}
        {{else}}

        <h3>No incomes for today .... :(</h3>
        {{/if}}
        
</div>
{{/if}}
</div>

{{> footer}}

<script>
    var amounts = document.getElementsByClassName('amounts');
    var amountsIncome = document.getElementsByClassName('amountsIncome');
    var totalExpenses = 0;
    var totalExpensesIncome = 0;
    Array.prototype.forEach.call(amounts,function(e){
        var expenseValue = Number(e.value);
        totalExpenses += expenseValue;
        
    });
    Array.prototype.forEach.call(amountsIncome,function(e){
        var expenseValue = Number(e.value);
        totalExpensesIncome += expenseValue;
        
    });

    var totalCount = document.getElementById('count');
    var totalCountIncome = document.getElementById('countIncome');
    totalCount.innerText = totalExpenses;
    totalCountIncome.innerText = totalExpensesIncome;
    var difference = document.getElementById('countDifference');
    var differenceCount = totalExpensesIncome - totalExpenses;
    console.log(differenceCount);
    if(differenceCount < 0){
        difference.style.color = 'red';
    }
    else{
        difference.style.color = 'green';
    }
    difference.innerText  = differenceCount;
</script>